@model IList<burger.Models.ViewHappySnack>
@{
    ViewData["Title"] = "Happy Snacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
        <h1 class="text-center">Our Delicious </h1>
    
    <section class="HappySnack-menu py-5">
        <div class="container py-md-5">
            <div class="row">
                @foreach (var HappySnack in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="menu-item card h-100">
                            <a href="@HappySnack.Link" title="@HappySnack.Name">
                                <img src="@Url.Content(HappySnack.Image)" class="card-img-top img-fluid" alt="@HappySnack.Name">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="@HappySnack.Link" title="@HappySnack.Name">@HappySnack.Name</a>
                                </h5>
                                <p class="card-text">@HappySnack.Details</p>
                                <div class="price">@HappySnack.Price VND</div>
                                <a href="@Url.Action("AddToCart", "Order", new { id = HappySnack.HappySnackID })" class="btn btn-primary mt-2">Order Now</a>
                                <div class="actions mt-2">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="@Url.Action("AddToWishlist", "Wishlist", new { id = HappySnack.HappySnackID })" class="link-wishlist">Add to Wishlist</a>
                                        </li>
                                        <li class="list-inline-item">|</li>
                                        <li class="list-inline-item">
                                            <a href="@Url.Action("AddToCompare", "Compare", new { id = HappySnack.HappySnackID })" class="link-compare">Compare</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</section>
</body>

