@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<burger.Models.tblBurger>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "List of Food Menu";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>@ViewData["Title"]</h2>
        <div class="row">
            <div class="col-4">
                <a type="button" class="btn btn-inverse-danger btn-fw" asp-area="Admin" asp-controller="FoodMenu" asp-action="Create">
                    <i class="text-primary"></i>Add new item</a>
            </div>
            <div class="col-8">
                <div>
                    <ul class="pagination float-end">
                        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly"
                               list="@Model"></pager>
                    </ul>
                </div>
            </div>
        </div>
        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body mt-4">
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th class="col-1 text-center">BurgerID</th>
                                        <th class="col-3 text-left">Name</th>
                                        <th class="col-2 text-left">Image</th>
                                        <th class="col-3 text-left">Details</th>
                                        <th class="col-2 text-left">Menu</th>
                                        <th class="col-1 text-center">Price</th>
                                        <th class="col-2 text-center">Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" scope="row">@item.BurgerID</td>
                                            <td class="text-left text-primary">@item.Name</td>
                                            <td class="text-left">@item.Image</td>
                                            <td class="text-left">@item.Details</td>
                                            <td class="text-center">@item.Price</td>
                                            <td class="text-center">
                                                <a asp-area="Admin" asp-controller="FoodMenu" asp-action="Edit"
                                                   asp-route-id="@item.BurgerID" class="btn btn-primary btn-sm"
                                                   title="Edit"><i class="mdi mdi-lead-pencil"></i></a>

                                                <a asp-area="Admin" asp-controller="FoodMenu" asp-action="Delete"
                                                   asp-route-id="@item.BurgerID" class="btn btn-danger btn-sm"
                                                   title="Delete"><i class="mdi mdi-delete-forever"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>