@using burger.Areas.Admin.Models
@model IList<AdminMenu>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/admin/assets/images/faces/face123.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Thai An</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
                @foreach (var item in Model.Where(m => m.ItemLevel == 1).OrderBy(m => m.ItemOrder))
        {
            var pID = item.AdminMenuId;
            var sMenu = Model.Where(p => p.ParentLevel == pID).OrderBy(p => p.ItemOrder).ToList();
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" href="#@item.IdName" aria-expanded="false" aria-controls="@item.IdName">
                    <span class="menu-title">@item.ItemName</span>
                    <i class="menu-arrow"></i>
                    <i class="@item.Icon"></i>
                </a>
                
                @if (sMenu != null && sMenu.Any())
                {  
                    <div class="collapse" id="@item.IdName">
                        <ul class="nav flex-column sub-menu">
                            @foreach (var smn in sMenu)
                            {
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/Admin/@smn.ControllerName/@smn.ActionName"><span>@smn.ItemName</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
        }


    </ul>
</nav>